.vscode/**
.vscode-test/**
src/**
node_modules/**
cloud/**
.gitignore
tsconfig.json
**/*.map
**/*.ts
!out/**
smoke-test*.js
PUBLISHING.md
test-samples/**
.env
.env.*
backend/**
frontend/**
database/**
cli/**
